* {
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #a100ff, #00eaff);
    filter: brightness(1.3) saturate(1.5);
    display: grid;
    grid-template-rows: 20% 40%;
    place-items: center;
}

.btn{
    margin: 20px;
    padding: 20px 50px;
    width: 200px;
    font-size: 22px;
    font-weight: 900;
    background: #00f5ff;
    color: #000;
    border: 5px;
    border-color: #00f5ff;
    border-radius: 50px;
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    box-shadow: 0 0 12px #00f5ff;
}

.btn:hover{
    transform: translatey(-2px);
    cursor: pointer;
    background-color:#0011ff;
    border-color: #0011ff;
    color: #fff;
    box-shadow: 0 0 12px #0011ff;
}

.btn:active{
    transition-duration: 0.05s;
    background: #b400ff;
    color: white;
    box-shadow: 0 0 12px #b400ff;
    border-color: #b400ff;
}

#reset {
    background-color: #21c483;
    border-color: #21c483;
    color: black;
    box-shadow: 0 0 12px #21c483;
    position: relative;
    left: 100%;
}

#reset:hover {
    background-color:#ff4747;
    border-color: #ff4747;
    color: white;
    box-shadow: 0 0 12px #ff4747;
}

#reset:active {
    color: #000;
    background-color:#e1ff00;
    border-color: #e1ff00;
    box-shadow: 0 0 12px #e1ff00;
}

header h1 {
    font-size: 50px;
    color:#b400ff;
    text-align: center;
    margin: 20px;
}

main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-evenly;
    place-items: center;
    justify-content: space-evenly;
}


.score {
    /* padding: 10px; */
    /* border: 2px solid white; */
    color: white;
    font-size: 30px;
}

#show-score {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

