* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #21c483, #126aad);
}

.btn {
    margin: 20px;
    padding: 20px 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 900;
    background-color:#003A3E;
    color:#00ff88;
    border: 5px #00ff88 solid;
    border-radius: 20px;
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.btn:hover {
    transform: translatey(-2px);
    cursor: pointer;
}

.btn:active {
    transition-duration: 0.05s;
    color: navy;
    background-color: lime;
    border-color: navy;
}

header h1 {
    text-align: center;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
