* {
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #a100ff, #00eaff);
    filter: brightness(1.3) saturate(1.5);
    display: grid;
    grid-template-rows: 20% ;
    place-items: center;

}

.btn {
    margin: 20px;
    padding: 20px 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 900;
    background-color:#0011ff;
    color: #fff;
    border: 5px #0011ff solid;
    border-radius: 20px;
    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    box-shadow: 0 0 3px #000;
}

.btn:hover {
    transform: translatey(2px);
    cursor: pointer;
    background: #00f5ff;
    color: #000;
    border-color: #00f5ff;
    box-shadow: 0 0 12px #00f5ff;
}

.btn:active {
    transition-duration: 0.05s;
    background: #b400ff;
    color: white;
    box-shadow: 0 0 12px #b400ff;
    border-color: #b400ff;
}

header h1 {
    font-size: 50px;
    color:#b400ff;
    text-align: center;
    margin: 20px;
}

main {

    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-evenly;
    place-items: center;
    justify-content: space-evenly;
}

#reset {
    position: absolute;
    top: 30%;
}
